body {
    font-family: sans-serif;
}

a {
    color: darkmagenta;
    text-decoration: none;
}

.time,
#seconds {
    float: right;
}

.container {
    margin: auto;
    width: 40%;
}

h1 {
    text-align: center;
    padding-top: 50px;
}

p {
    line-height: 1.6;
}
button {
    padding: 10px;
    background-color: darkmagenta;
    color: white;
    border-radius: 2px;
    border: none;
    cursor: pointer;
    margin: 0 auto;
    display: block;
}

button:hover {
    opacity: 0.6;
}

